@{
ViewData["Title"] = "Fastest Laps";
}

<h1>Fastest Laps</h1>
<button id="reloadButton" class="btn btn-primary">Reload Data</button>

<table class="table mt-3">
    <thead>
    <tr>
        <th>Car</th>
        <th>Race</th>
        <th>Lap Time</th>
        <th>Date</th>
    </tr>
    </thead>
    <tbody id="fastestLapTableBody">
    </tbody>
</table>

<script src="/js/fastestlaps/fastestLaps.js"></script>
